# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/cvijece1.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/*
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/ferns.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/greenalgae.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/cvijece2.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/mosses.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/evolution-tree/img/ne_cvijece.png
NiceAdmin/libs_sup/treant-js-master/examples/otherexamples/simple-scrollbar/simple-scrollbar.js
NiceAdmin/libs_sup/treant-js-master.zip
